.App {
  text-align: center;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(24, 40, 40);
  color: beige;
}

#root {
  height: 90vh;
}

table {
  height: 100%;
}

.day {
  height: 100%;
  color: black;
  border-radius: 5px;
}

.today {
  line-height: 18px;
  margin-top: 3px;
  display: inline-block;
  text-align: center;
  min-width: 18px;

  padding: 3px;
  border-radius: 50%;
  background-color: rgb(107, 83, 194);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
